---
import MainLayout from "@layouts/MainLayout.astro";
import { getEntry } from "astro:content";
import { formatDate } from "src/utils";
const { article } = Astro.props;
const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required.");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout>
  <a
    href='/articles'
    class='inline-block p-2 m-6 font-medium uppercase text-gray-800 rounded-md hover:text-blue-500 cursor-pointer hover-transition'
  >
    Back to Articles
  </a>
  <article>
    <h1 class='text-4xl font-medium mb-2'>
      {entry.data.title}
    </h1>
    <h3 class='text-lg mb-2'>
      {entry.data.author} on {formatDate(entry.data.pubDate)}
    </h3>
    <div class='flex flex-wrap gap-2 mb-6'>
      <span
        class='px-2 py-1 bg-blue-500 text-white rounded-sm text-xs uppercase hover:opacity-85 hover-transition'
      >
        Topic
      </span>
      <span
        class='px-2 py-1 bg-black text-white rounded-sm text-xs uppercase hover:opacity-85 hover-transition'
      >
        Topic
      </span>
    </div>
    <img 
      src={'/images/' + entry.data.image} 
      alt='Article Image' 
      class='w-full h-auto rouned-md mb-6' 
    />
    <Content />
  </article>
</MainLayout>

<style is:global>
  p {
    margin: 20px 0;
  }
</style>
