---
import MainLayout from '../../layouts/MainLayout.astro'
import ArticleCard from '@components/ArticleCard.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '../../utils'

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((
    a: CollectionEntry<'blog'>, 
    b: CollectionEntry<'blog'> 
  ) => 
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  )
---

<MainLayout title='Leading Articles'>
  <h1 class='text-2xl pb-3'>Leading Articles</h1>
  <div class='grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3'>
    {allBlogArticles.map(article => (
      <ArticleCard article={article} />
    ))} 
  </div>
  <div class='flex justify-between mt-10'>
    <a 
      href='#' 
      class='inline-block bg-blue-500 uppercase px-3 py-2 hover:opacity-80 text-white rounded-md'
    >
      Previous
    </a>
    <a 
    href='#' 
      class='inline-block bg-blue-500 uppercase px-3 py-2 hover:opacity-80 text-white rounded-md'
    >
      Next
    </a>
  </div>
</MainLayout>
