@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap');

@import "tailwindcss";

* {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 300;
}

.logo {
  font-family: 'Trochut', sans-serif;
}