---
import SearchForm from '@components/SearchForm.astro'
import MainLayout from '../layouts/MainLayout.astro'
import { getCollection } from 'astro:content'

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((
    a: CollectionEntry<'blog'>, 
    b: CollectionEntry<'blog'> 
  ) => 
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  )
---

<MainLayout>
	<div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
		<div>
			<h1 class="text-5xl font-medium mt-4 mb-8 leading-tight xl:text-6xl text-blue-500">Resources & Docs for Coders</h1>
			<SearchForm />
		</div>
		<div class="relative inline-block w-full sm:w-auto cursor-pointer rounded-2xl">
			<a href="#">
				<img 
					src="images/image-5.png" 
					alt="Article Image"
					class="w-full h-auto rounded-2xl"
				>
				<div class="absolute inset-0 flex flex-col items-center justify-center bg-black opacity-80 hover:opacity-85 transition duration-300 ease-in-out text-white text-center rounded-2xl">
					<div>
						<h2 class="text-2xl uppercase font-medium sm:text-3xl">Streamline Tasks, Slash Latency</h2>
						<p class="text-xl mt-4">14th July 2025</p>
						<div class="flex mt-4 justify-center">
							<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Tutorials</span>
							<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Linux</span>
						</div>
					</div>	
				</div>
			</a>
		</div>
	</div>
	<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">

		<div class="max-w-md mx-auto mt-10">
			<div class="bg-gray-50 rounded-lg overflow-hidden shadow-lg">
				<a href="#">
					<img 
						src="images/image-7.png" 
						alt="Article Image"
						class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
					>
				</a>
				<div class="p-6">
					<h2 class="2xl font-medium mb-2">
						<a href="#">Zero-Day Attacks: Exploiting Shadows Before Defenses Wake and Respond</a>
					</h2>
					<p class="text-gray-800 text-sm mb-4">22nd June 2025</p>
					<div class="flex flex-wrap gap-2">
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Cyber Security</span>
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">News</span>
					</div>
				</div>
			</div>
		</div>

		<div class="max-w-md mx-auto mt-10">
			<div class="bg-gray-50 rounded-lg overflow-hidden shadow-lg">
				<a href="#">
					<img 
						src="images/image-6.png" 
						alt="Article Image"
						class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
					>
				</a>
				<div class="p-6">
					<h2 class="2xl font-medium mb-2">
						<a href="#">Python Meets Data Science: From Scripting to Insightful Discover</a>
					</h2>
					<p class="text-gray-800 text-sm mb-4">16th June 2025</p>
					<div class="flex flex-wrap gap-2">
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Python</span>
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Data Science</span>
					</div>
				</div>
			</div>
		</div>

		<div class="max-w-md mx-auto mt-10">
			<div class="bg-gray-50 rounded-lg overflow-hidden shadow-lg">
				<a href="#">
					<img 
						src="images/image-3.png" 
						alt="Article Image"
						class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
					>
				</a>
				<div class="p-6">
					<h2 class="2xl font-medium mb-2">
						<a href="#">Mastering Full Stack Clarity with Next JS and Mongo DB</a>
					</h2>
					<p class="text-gray-800 text-sm mb-4">9th July 2025</p>
					<div class="flex flex-wrap gap-2">
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Next JS</span>
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Mongo DB</span>
					</div>
				</div>
			</div>
		</div>

		<div class="max-w-md mx-auto mt-10">
			<div class="bg-gray-50 rounded-lg overflow-hidden shadow-lg">
				<a href="#">
					<img 
						src="images/image-4.png" 
						alt="Article Image"
						class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
					>
				</a>
				<div class="p-6">
					<h2 class="2xl font-medium mb-2">
						<a href="#">How Java Works: Behind the Scenes of Runtime Magic</a>
					</h2>
					<p class="text-gray-800 text-sm mb-4">10th July 2025</p>
					<div class="flex flex-wrap gap-2">
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Java</span>
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Feature</span>
					</div>
				</div>
			</div>
		</div>

		<div class="max-w-md mx-auto mt-10">
			<div class="bg-gray-50 rounded-lg overflow-hidden shadow-lg">
				<a href="#">
					<img 
						src="images/image-2.png" 
						alt="Article Image"
						class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
					>
				</a>
				<div class="p-6">
					<h2 class="2xl font-medium mb-2">
						<a href="#">Unreal Engine: Crafting Worlds with Precision and Particle Fire</a>
					</h2>
					<p class="text-gray-800 text-sm mb-4">6th July 2025</p>
					<div class="flex flex-wrap gap-2">
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Unreal</span>
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Game Dev</span>
					</div>
				</div>
			</div>
		</div>

		<div class="max-w-md mx-auto mt-10">
			<div class="bg-gray-50 rounded-lg overflow-hidden shadow-lg">
				<a href="#">
					<img 
						src="images/image-7.png" 
						alt="Article Image"
						class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
					>
				</a>
				<div class="p-6">
					<h2 class="2xl font-medium mb-2">
						<a href="#">C++ Unchained: Memory, Speed, and the Art of Control</a>
					</h2>
					<p class="text-gray-800 text-sm mb-4">1st June 2025</p>
					<div class="flex flex-wrap gap-2">
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">C++</span>
						<span class="px-2 py-1 bg-blue-500 text-white uppercase font-medium rounded-sm text-xs mr-2">Feature</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</MainLayout>	



