---
import './src/styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/billy.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Herodotus</title>
	</head>
	<body>
		<h1 class="logo">Herodotus</h1>
	</body>
</html>
