---
import './src/styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="icon" type="image/png" href="/billy.png">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js" integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"></script>
  <title>Herodotus</title>
</head>
<body>
  <nav class="bg-blue-500 text-white">
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
			<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
				<img src="/logo.png" alt="logo" class="h-14">
				<span class="self-center text-2xl font-medium whitespace-nowrap logo tracking-widest">Herodotus</span>
			</a>
			<button
				data-collapse-toggle="navbar-default"
				type="button"
				class="inline-flex items-center p-2 w-10 h-10 justify-center text-lg bg-white text-blue-500 hover:bg-blue-200 rounded-md md:hidden cursor-pointer"
				aria-controls="navbar-default"
				aria-expanded="false"
			>
				<span class="sr-only">Open Main Menu</span>
				<i class="fa-solid fa-bars"></i>
			</button>
			<div class="hidden w-full md:block md:w-auto" id="navbar-default">
				<ul
					class="font-medium flex flex-col p-4 md:p-0 mt-4 border bg-blue-500 text-white rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:nt-0 md:border-0 border-white"
				>
					<li>
						<a 
							href="#"
							class="block py-2 px-3 text-white rounded md:p-0 hover:text-blue-200 uppercase"
							area-current="page"
						>
							Home
						</a>
					</li>
					<li>
						<a 
							href="#"
							class="block py-2 px-3 text-white rounded md:p-0 hover:text-blue-200 uppercase"
							area-current="page"
						>
							Articles
						</a>
					</li>
					<li>
						<a 
							href="#"
							class="block py-2 px-3 text-white rounded md:p-0 hover:text-blue-200 uppercase"
							area-current="page"
						>
							About
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<section class="container mx-auto max-w-screen-xl mt-10 px-8">
		<div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
			<div>
				<h1 class="text-5xl font-medium mt-4 mb-8 leading-tight xl:text-6xl text-blue-500">Resources & Docs for Coders</h1>
				<form 
					id="search-form"
					class="flex items-center"
				>
					<label 
						for="search-input"
						class="sr-only"
					>
						Search
					</label>
					<div class="relative w-full">
						<input 
							type="text"
							id="query"
							name="query"
							class="bg-blue-50 border border-gray-900 text-gray-900 text-sm rounded-md block w-full p-2.5 outline-none"
							placeholder="Search resources..."
							required
						>
					</div>
					<button
						type="submit"
						class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-700 outline-none"
					>
						<i class="fa-solid fa-magnifying-glass"></i>
						<span class="sr-only">Search</span>
					</button>	
				</form>
			</div>
		</div>
	</section>
</body>
</html>



