---
import MainLayout from '../../../layouts/MainLayout.astro'
import ArticleCard from '../../../components/ArticleCard.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const { tag } = Astro.params

if (tag === undefined) {
  throw new Error('Tag is required')
}

const allBlogArticles: CollectionEntry<'blog'>[] = (
  await getCollection('blog')
).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tagArticles = allBlogArticles.filter((article) =>
  article.data.tags.includes(tag)
);
---

<MainLayout title='Leading Articles'>
  <a
    href='/articles'
    class='inline-block py-2 my-6 font-medium uppercase text-gray-800 rounded-md hover:text-blue-500 cursor-pointer hover-transition'
  >
    Back to Articles
  </a>
  <h1 class='text-2xl pb-3'>{tag} Articles</h1>
  <div class='grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3'>
    {tagArticles.map((article) => <ArticleCard article={article} />)}
  </div>
</MainLayout>
