---

---

<form 
  id='search-form'
  class='flex items-center'
>
  <label 
    for='search-input'
    class='sr-only'
  >
    Search
  </label>
  <div class='relative w-full'>
    <input 
      type='text'
      id='query'
      name='query'
      class='bg-white border border-blue-500 text-gray-000 text-sm rounded-md block w-full p-2.5 outline-none'
      placeholder='Search resources...'
      required
    >
  </div>
  <button
    type='submit'
    class='p-2.5 ms-2 text-sm font-medium text-white bg-blue-500 rounded-md hover:opacity-85 outline-none hover-transition'
  >
    <i class='fa-solid fa-magnifying-glass'></i>
    <span class='sr-only'>Search</span>
  </button>	
</form>